<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace不能使用别名机制。必须写全限定接口名称。带有包名的。-->
<mapper namespace="com.shaluy.mybatis.mapper.ClazzMapper">

    <!--分步查询第二步：根据cid获取班级信息。-->
    <select id="selectByIdWithStep2" resultType="Clazz">
        select cid, cname from t_clazz where cid = #{cid}
    </select>

    <resultMap id="clazzResultMapWithCollection" type="Clazz">
        <id property="cid" column="cid"/>
        <result property="cname" column="cname"/>
        <collection property="students" ofType="Student">
            <id property="sid" column="sid"/>
            <result property="sname" column="sname"/>
        </collection>
    </resultMap>
    <select id="selectByIdWithCollection" resultMap="clazzResultMapWithCollection">
        select c.cid, c.cname, s.sid, s.sname from t_clazz c left join t_stu s on c.cid = s.cid where c.cid = #{cid}
    </select>

    <resultMap id="clazzResultMapWithStep1" type="Clazz">
        <id property="cid" column="cid"/>
        <result property="cname" column="cname"/>
        <collection property="students"
                    select="com.shaluy.mybatis.mapper.StudentMapper.selectByIdWithStep2"
                    column="cid"/>
    </resultMap>
    <select id="selectByIdWithStep1" resultMap="clazzResultMapWithStep1">
        select cid, cname from t_clazz where cid = #{cid}
    </select>

</mapper>
